body {
  background: #eee;
}

* {
  margin: 0;
  font-family: 'Inter', sans-serif;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
}
/* small */
@media (min-width: 768px) {
   .container {
       width: 100%;
   }
}
/* medium */
@media (min-width: 992px) {
   .container {
       width: 95%;
   }
}
/* large */
@media (min-width: 1200px) {
   .container {
       width: 90%;
   }
}

button {
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
button:hover {
  opacity: 0.7;
}

input {
  outline: none;
  border: none;
  border-radius: 5px;
}

ul {
  list-style:none ;
}
a {
  text-decoration: none;
}